### Feather File

In [11]:
import pandas as pd
import gzip
!pip install pyarrow
path= 'C:\\Users\\lmj35\\Desktop\\벌쿠형 플젝\\riiid-test-answer-prediction\\feather\\riiid_train.feather'

Collecting pyarrow
  Downloading pyarrow-2.0.0-cp37-cp37m-win_amd64.whl (10.7 MB)
Requirement already satisfied: numpy>=1.14 in c:\users\lmj35\anaconda3\lib\site-packages (from pyarrow) (1.16.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-2.0.0

WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the 'c:\users\lmj35\anaconda3\python.exe -m pip install --upgrade pip' command.

In [12]:
data = pd.read_feather(path)

In [31]:
data.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,NaN,None
1,1,56943,115,5716,False,2,2,1,37000.0,False
2,2,118363,115,128,False,0,0,1,55000.0,False
3,3,131167,115,7860,False,3,0,1,19000.0,False
4,4,137965,115,7922,False,4,1,1,11000.0,False

In [41]:
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,NaN,None
1,1,56943,115,5716,False,2,2,1,37000.0,False
2,2,118363,115,128,False,0,0,1,55000.0,False
3,3,131167,115,7860,False,3,0,1,19000.0,False
4,4,137965,115,7922,False,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
101230327,101230327,428564420,2147482888,3586,False,22,0,1,18000.0,True
101230328,101230328,428585000,2147482888,6341,False,23,3,1,14000.0,True
101230329,101230329,428613475,2147482888,4212,False,24,3,1,14000.0,True
101230330,101230330,428649406,2147482888,6343,False,25,1,0,22000.0,True
101230331,101230331,428692118,2147482888,7995,False,26,3,1,29000.0,True

### Create feather per 1000 User_id

In [46]:
# Drop duplicate for count users
user_id = data['user_id'].drop_duplicates()
user_id.reset_index(inplace=True,drop=True)

In [107]:
print(user_id)
print(len(user_id))

0                115
1                124
2               2746
3               5382
4               8623
             ...
393651    2147470770
393652    2147470777
393653    2147481750
393654    2147482216
393655    2147482888
Name: user_id, Length: 393656, dtype: int32
393656

In [67]:
# make user_dic (per 1000)
user_dic = {}
count = 0
for i in range(len(user_id)):
    if i%1000 == 0:
        count +=1
    if count not in user_dic:
        user_dic[count] = [user_id[i]]
    else:
        user_dic[count].append(user_id[i])

In [79]:
# Num of Keys
print(len(user_dic.keys()))
print(len(user_dic[1]))
print(len(user_dic[394]))

394
1000
656

In [97]:
# Create feather file
for i in range(1,len(user_dic.keys())+1):
    data[data['user_id'].isin(user_dic[i])].reset_index(drop=True).to_feather(f'C:\\Users\\lmj35\\Desktop\\벌쿠형 플젝\\user_id_per_1000\\user_dic_{i}.feather')

In [112]:
# get_feather file
dic_1 = pd.read_feather('C:\\Users\\lmj35\\Desktop\\벌쿠형 플젝\\user_id_per_1000\\user_dic_1.feather')
dic_1

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,NaN,None
1,1,56943,115,5716,False,2,2,1,37000.0,False
2,2,118363,115,128,False,0,0,1,55000.0,False
3,3,131167,115,7860,False,3,0,1,19000.0,False
4,4,137965,115,7922,False,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
296610,296610,625311764,5577726,5328,False,7,0,0,20000.0,False
296611,296611,625327721,5577726,4303,False,8,3,0,10000.0,True
296612,296612,625344560,5577726,4445,False,9,0,1,6000.0,True
296613,296613,625367161,5577726,5206,False,10,1,0,6000.0,True
296614,296614,625378759,5577726,3928,False,11,0,0,13000.0,True

### Create feather per OOO content_id

In [100]:
# Drop duplicate for count users
content_id = data['content_id'].drop_duplicates()
content_id.reset_index(inplace=True,drop=True)

In [106]:
print(content_id)
print(len(content_id))

0         5692
1         5716
2          128
3         7860
4         7922
         ...
13777     5823
13778    10008
13779    10007
13780    10006
13781    10005
Name: content_id, Length: 13782, dtype: int16
13782

In [108]:
# make content_dic (per 50)
content_dic = {}
count = 0
for i in range(len(content_id)):
    if i%50 == 0:
        count +=1
    if count not in content_dic:
        content_dic[count] = [content_id[i]]
    else:
        content_dic[count].append(content_id[i])

In [114]:
# Num of Keys
print(len(content_dic.keys()))
print(len(content_dic[1]))
print(len(content_dic[276]))

276
50
32

In [119]:
# Create feather file
for i in range(1,len(content_dic.keys())+1):
    data[data['content_id'].isin(content_dic[i])].reset_index(drop=True).to_feather(f'C:\\Users\\lmj35\\Desktop\\벌쿠형 플젝\\content_id_per_50\\content_dic_{i}.feather')