In [7]:
import pandas as pd

In [4]:
data = pd.read_feather('content_id_per_50/content_dic_1.feather')
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,NaN,None
1,1,56943,115,5716,False,2,2,1,37000.0,False
2,2,118363,115,128,False,0,0,1,55000.0,False
3,3,131167,115,7860,False,3,0,1,19000.0,False
4,4,137965,115,7922,False,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
3410107,101229283,8933708898,2147470777,25,False,52,1,1,20000.0,True
3410108,101229295,8934037315,2147470777,7863,False,64,0,1,21000.0,True
3410109,101229301,8934192458,2147470777,7897,False,70,0,1,12000.0,True
3410110,101229788,13078960454,2147470777,5692,False,390,3,1,13000.0,True
3410111,101230150,873328861,2147482216,5692,False,125,3,1,19000.0,True

In [8]:
data = pd.read_feather('user_id_per_1000/user_dic_1.feather')
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,NaN,None
1,1,56943,115,5716,False,2,2,1,37000.0,False
2,2,118363,115,128,False,0,0,1,55000.0,False
3,3,131167,115,7860,False,3,0,1,19000.0,False
4,4,137965,115,7922,False,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
296610,296610,625311764,5577726,5328,False,7,0,0,20000.0,False
296611,296611,625327721,5577726,4303,False,8,3,0,10000.0,True
296612,296612,625344560,5577726,4445,False,9,0,1,6000.0,True
296613,296613,625367161,5577726,5206,False,10,1,0,6000.0,True
296614,296614,625378759,5577726,3928,False,11,0,0,13000.0,True

In [12]:
data.query('content_type_id==True')

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
89,89,653762,2746,6808,True,14,-1,-1,NaN,False
117,117,10183847,5382,16736,True,21,-1,-1,NaN,False
212,212,1424348597,5382,30207,True,104,-1,-1,NaN,False
216,216,1425557777,5382,18545,True,121,-1,-1,NaN,False
295,295,405813029,8623,10540,True,59,-1,-1,NaN,False
...,...,...,...,...,...,...,...,...,...,...
296308,296308,12710420813,5541659,22792,True,777,-1,-1,NaN,False
296372,296372,30224242060,5541659,29579,True,720,-1,-1,NaN,False
296489,296489,43163171,5566848,26852,True,15,-1,-1,NaN,False
296498,296498,162115714,5566848,32168,True,21,-1,-1,NaN,False
296537,296537,7746409318,5568049,24250,True,20,-1,-1,NaN,False

## 전처리 
- Lecture → 문제를 맞춘 경우와 동일하게 (answered_correctly=1)
- prior_question_had_explanation : None → False
- prior_question_elapsed_time : NaN → 0.

In [13]:
def lectureLabelChange(df):
    df["answered_correctly"].replace({-1:1}, inplace=True)
    
def priorQuestionChange(df):
    df["prior_question_elapsed_time"].fillna(0., inplace=True)
    df["prior_question_had_explanation"].fillna(False, inplace=True)

In [14]:
priorQuestionChange(data)
lectureLabelChange(data)

In [16]:
data = data.sort_values(by=['timestamp'], axis=0)

In [17]:
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,0.0,False
89629,89629,0,1985581,5476,False,0,0,1,0.0,False
276891,276891,0,5340888,7900,False,0,0,1,0.0,False
37401,37401,0,1028074,7900,False,0,0,1,0.0,False
173839,173839,0,3695434,7900,False,0,0,1,0.0,False
...,...,...,...,...,...,...,...,...,...,...
242151,242151,78091996556,4508124,7398,False,725,2,1,28666.0,True
242152,242152,78091996556,4508124,7399,False,725,1,0,28666.0,True
242153,242153,78091996556,4508124,7397,False,725,1,1,28666.0,True
242154,242154,78091996556,4508124,7396,False,725,2,0,28666.0,True
242155,242155,78091996556,4508124,7400,False,725,1,1,28666.0,True

In [12]:
data.query('content_type_id==True')

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
89,89,653762,2746,6808,True,14,-1,1,NaN,False
117,117,10183847,5382,16736,True,21,-1,1,NaN,False
212,212,1424348597,5382,30207,True,104,-1,1,NaN,False
216,216,1425557777,5382,18545,True,121,-1,1,NaN,False
295,295,405813029,8623,10540,True,59,-1,1,NaN,False
...,...,...,...,...,...,...,...,...,...,...
296308,296308,12710420813,5541659,22792,True,777,-1,1,NaN,False
296372,296372,30224242060,5541659,29579,True,720,-1,1,NaN,False
296489,296489,43163171,5566848,26852,True,15,-1,1,NaN,False
296498,296498,162115714,5566848,32168,True,21,-1,1,NaN,False
296537,296537,7746409318,5568049,24250,True,20,-1,1,NaN,False

## 사용자별 Feature
- 특정 사용자가 이전 시점에 풀었던 문제들의 개수
- 특정 사용자가 이전 시점에 맞춘 문제의 개수
- 특정 사용자가 이전 시점에 풀었던 문제들의 정확도
- 이전 단위횟수동안 풀어온 문제 정확도 (20?)
- 해당 문제와 같은 파트 and 태그를 가진 이전문제 정확도 ( same part & cos similarity > 0)

In [4]:
# load file
data = pd.read_feather('user_id_per_1000/user_dic_1.feather')

In [5]:
data = data.sort_values(by=['timestamp'], axis=0)

In [6]:
set(data.prior_question_had_explanation)

{False, None, True}

In [16]:
# user id list
uids = list(set(data.user_id))

In [18]:
len(data)

296615

In [65]:
''' 
누적 문제 수, 누적 정답 수
누적 정확도 계산 (with weight) 
df column 추가

# 특정 사용자가 이전 시점에 풀었던 문제들의 정확도
# 사용자별 누적 정확도 계산

# row 별로 계산 진행 --> 시계열 특성 고려
# i-1 까지
## 이전 정확도 * 이전문제 개수 * w + 정답여부 / w + 1
## w<1 w를 사용하여 과거데이터에 대한 가중치 조정

'''
def addAccumulateAcc(df, w):
    # 사용자 누적 정확도를 담을 dict
    userAccDict = {}
    accList = []
    countList = []
    rightNums = []
    
    #시점별 누적 정확도 계산 
    #초기값 0.5 설정
    for i in range(len(df)):
        row = df.iloc[i]
        uid = row.user_id
        correct = row.answered_correctly

        if uid not in userAccDict:
            userAccDict[uid] = [1,0,0.5] #num of quiz, num of correct, Acc
            accList.append(0.5)
            countList.append(0)
            rightNums.append(0)
        else:
            accList.append(userAccDict[uid][2])
            countList.append(userAccDict[uid][0]-1)
            rightNums.append(userAccDict[uid][1])
            
        
        # 누적 정확도 계산 --> 다음 row에 추가
        # lecture 인 경우도 1로 통일
        if correct == 1:
            userAccDict[uid][1] += 1
            userAccDict[uid][2] = (userAccDict[uid][2]*userAccDict[uid][0]*w + 1)/(userAccDict[uid][0]*w+1)
            userAccDict[uid][0] += 1
        else:
            userAccDict[uid][2] = (userAccDict[uid][2]*userAccDict[uid][0]*w + 0)/(userAccDict[uid][0]*w+1)
            userAccDict[uid][0] += 1
            
    df['accumulate_user_acc'] = accList
    df['accumulate_user_count'] = countList
    df['accumulate_user_right'] = rightNums

In [70]:
addAccumulateAcc(data, 0.9)
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,accumulate_user_acc,accumulate_user_count,accumulate_user_right
0,0,0,115,5692,False,1,3,1,NaN,None,0.500000,0,0
89629,89629,0,1985581,5476,False,0,0,1,NaN,None,0.500000,0,0
276891,276891,0,5340888,7900,False,0,0,1,NaN,None,0.500000,0,0
37401,37401,0,1028074,7900,False,0,0,1,NaN,None,0.500000,0,0
173839,173839,0,3695434,7900,False,0,0,1,NaN,None,0.500000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
242151,242151,78091996556,4508124,7398,False,725,2,1,28666.0,True,0.559520,1137,638
242152,242152,78091996556,4508124,7399,False,725,1,0,28666.0,True,0.559950,1138,639
242153,242153,78091996556,4508124,7397,False,725,1,1,28666.0,True,0.559404,1139,639
242154,242154,78091996556,4508124,7396,False,725,2,0,28666.0,True,0.559833,1140,640
242155,242155,78091996556,4508124,7400,False,725,1,1,28666.0,True,0.559289,1141,640

In [58]:
'''
이전 K번 문제풀이 정확도 계산
최초 0.5 --> 이후 1회 이상일때는 평균 적용
'''
def addWindowAcc(df,k):
    # 이전 k번 동안 풀어온 문제 정확도
    # 사용자 단위 횟수 정확도를 담을 dict
    userAccDict = {}
    accList = []
    for i in range(len(df)):
        row = df.iloc[i]
        uid = row.user_id
        correct = row.answered_correctly

        if uid not in userAccDict:
            userAccDict[uid] = [] #num of quiz, num of correct, Acc
            accList.append(0.5)
        else:
            accList.append(sum(userAccDict[uid])/len(userAccDict[uid]))

        userAccDict[uid].append(correct)
        if len(userAccDict[uid]) > k:
            userAccDict[uid].pop(0)
            
    df['k_user_acc']= accList

In [59]:
addWindowAcc(data, 20)
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,accumulate_user_acc,k_user_acc
0,0,0,115,5692,False,1,3,1,NaN,None,0.500000,0.50
89629,89629,0,1985581,5476,False,0,0,1,NaN,None,0.500000,0.50
276891,276891,0,5340888,7900,False,0,0,1,NaN,None,0.500000,0.50
37401,37401,0,1028074,7900,False,0,0,1,NaN,None,0.500000,0.50
173839,173839,0,3695434,7900,False,0,0,1,NaN,None,0.500000,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...
242151,242151,78091996556,4508124,7398,False,725,2,1,28666.0,True,0.559520,0.50
242152,242152,78091996556,4508124,7399,False,725,1,0,28666.0,True,0.559950,0.55
242153,242153,78091996556,4508124,7397,False,725,1,1,28666.0,True,0.559404,0.55
242154,242154,78091996556,4508124,7396,False,725,2,0,28666.0,True,0.559833,0.55
242155,242155,78091996556,4508124,7400,False,725,1,1,28666.0,True,0.559289,0.55

## 문제별 정답률

In [30]:
data = pd.read_feather('content_id_per_50/content_dic_1.feather')
data = data.sort_values(by=['timestamp'], axis=0)
priorQuestionChange(data)
lectureLabelChange(data)
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,0.0,False
1228969,36491325,0,779085965,7900,False,0,1,0,0.0,False
1962366,58483332,0,1240439749,7900,False,0,0,1,0.0,False
2997320,88898406,0,1890393811,128,False,0,0,1,0.0,False
1228955,36491277,0,779085501,7900,False,0,0,1,0.0,False
...,...,...,...,...,...,...,...,...,...,...
195147,5786930,84324808692,124443281,2946,False,7992,2,0,34333.0,True
195148,5786931,84324808692,124443281,2947,False,7992,1,1,34333.0,True
239275,7039995,84583588231,153187243,2063,False,318,1,0,22000.0,True
239276,7039996,84583588231,153187243,2064,False,318,2,0,22000.0,True
239277,7039997,84583588231,153187243,2065,False,318,2,1,22000.0,True

In [35]:
data_ = data[:100000]

In [36]:
## 문제의 정답률을 시점별로 정리
''' 
누적 정답률 계산
df column 추가

# 특정 문제의 이전 정확도 계산
# row 별로 계산 진행 --> 시계열 특성 고려
# i-1 까지

'''
def addAccumulateCountDiff(df):
    # 문제별 누적 정답률을 담을 dict
    quizDiffDict = {}
    countList = []
    diffList = []
    rightNums = []
    
    #시점별 누적 정답률 계산 
    #초기값 0.5 설정
    for i in range(len(df)):
        row = df.iloc[i]
        qid = row.content_id
        correct = row.answered_correctly

        if qid not in quizDiffDict:
            quizDiffDict[qid] = [1,0,0.5] #num of quiz, num of correct, diff
            diffList.append(0.5)
            countList.append(1)
            rightNums.append(0)
        else:
            diffList.append(quizDiffDict[qid][2])
            countList.append(quizDiffDict[qid][0])
            rightNums.append(quizDiffDict[qid][1])
        
        # 누적 정확도 계산 --> 다음 row에 추가
        if correct == 1:
            quizDiffDict[qid][1] += 1
            quizDiffDict[qid][2] = (quizDiffDict[qid][2]*quizDiffDict[qid][0] + 1)/(quizDiffDict[qid][0]+1)
            quizDiffDict[qid][0] += 1
        else:
            quizDiffDict[qid][2] = (quizDiffDict[qid][2]*quizDiffDict[qid][0] + 0)/(quizDiffDict[qid][0]+1)
            quizDiffDict[qid][0] += 1
            
    df['accumulate_quiz_count']= countList
    df['accumulate_quiz_difficulty']= diffList
    df['accumulate_quiz_correct']= rightNums

In [37]:
addAccumulateCountDiff(data_ )

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
data_

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,accumulate_quiz_count,accumulate_quiz_difficulty,accumulate_quiz_correct
0,0,0,115,5692,False,1,3,1,0.0,False,1,0.500000,0
1228969,36491325,0,779085965,7900,False,0,1,0,0.0,False,1,0.500000,0
1962366,58483332,0,1240439749,7900,False,0,0,1,0.0,False,2,0.250000,0
2997320,88898406,0,1890393811,128,False,0,0,1,0.0,False,1,0.500000,0
1228955,36491277,0,779085501,7900,False,0,0,1,0.0,False,3,0.500000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2355011,69920097,0,1487389181,7900,False,0,0,1,0.0,False,88587,0.824506,73040
2584798,76653043,0,1631960100,7900,False,0,0,1,0.0,False,88588,0.824508,73041
2584788,76652408,0,1631954147,7900,False,0,0,1,0.0,False,88589,0.824510,73042
892386,26514611,0,565944349,7900,False,0,2,0,0.0,False,88590,0.824512,73043
2355025,69921049,0,1487393556,7900,False,0,0,1,0.0,False,88591,0.824502,73043

In [39]:
data_.query("content_type_id==True")

Empty DataFrame
Columns: [row_id, timestamp, user_id, content_id, content_type_id, task_container_id, user_answer, answered_correctly, prior_question_elapsed_time, prior_question_had_explanation, accumulate_quiz_count, accumulate_quiz_difficulty, accumulate_quiz_correct]
Index: []

## 태그별 정답률 (복수의 태그의 경우는 평균)