In [1]:
import pandas as pd

In [4]:
data = pd.read_feather('content_id_per_50/content_dic_1.feather')
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,NaN,None
1,1,56943,115,5716,False,2,2,1,37000.0,False
2,2,118363,115,128,False,0,0,1,55000.0,False
3,3,131167,115,7860,False,3,0,1,19000.0,False
4,4,137965,115,7922,False,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
3410107,101229283,8933708898,2147470777,25,False,52,1,1,20000.0,True
3410108,101229295,8934037315,2147470777,7863,False,64,0,1,21000.0,True
3410109,101229301,8934192458,2147470777,7897,False,70,0,1,12000.0,True
3410110,101229788,13078960454,2147470777,5692,False,390,3,1,13000.0,True
3410111,101230150,873328861,2147482216,5692,False,125,3,1,19000.0,True

In [10]:
data = pd.read_feather('user_id_per_1000/user_dic_1.feather')
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,NaN,None
1,1,56943,115,5716,False,2,2,1,37000.0,False
2,2,118363,115,128,False,0,0,1,55000.0,False
3,3,131167,115,7860,False,3,0,1,19000.0,False
4,4,137965,115,7922,False,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
296610,296610,625311764,5577726,5328,False,7,0,0,20000.0,False
296611,296611,625327721,5577726,4303,False,8,3,0,10000.0,True
296612,296612,625344560,5577726,4445,False,9,0,1,6000.0,True
296613,296613,625367161,5577726,5206,False,10,1,0,6000.0,True
296614,296614,625378759,5577726,3928,False,11,0,0,13000.0,True

In [12]:
data.query('content_type_id==True')

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
89,89,653762,2746,6808,True,14,-1,-1,NaN,False
117,117,10183847,5382,16736,True,21,-1,-1,NaN,False
212,212,1424348597,5382,30207,True,104,-1,-1,NaN,False
216,216,1425557777,5382,18545,True,121,-1,-1,NaN,False
295,295,405813029,8623,10540,True,59,-1,-1,NaN,False
...,...,...,...,...,...,...,...,...,...,...
296308,296308,12710420813,5541659,22792,True,777,-1,-1,NaN,False
296372,296372,30224242060,5541659,29579,True,720,-1,-1,NaN,False
296489,296489,43163171,5566848,26852,True,15,-1,-1,NaN,False
296498,296498,162115714,5566848,32168,True,21,-1,-1,NaN,False
296537,296537,7746409318,5568049,24250,True,20,-1,-1,NaN,False

## 사용자별 Feature
- 특정 사용자가 이전 시점에 풀었던 문제들의 개수
- 특정 사용자가 이전 시점에 맞춘 문제의 개수
- 특정 사용자가 이전 시점에 풀었던 문제들의 정확도
- 이전 단위횟수동안 풀어온 문제 정확도 (20?)
- 해당 문제와 같은 파트 and 태그를 가진 이전문제 정확도 ( same part & cos similarity > 0)

In [67]:
# load file
data = pd.read_feather('user_id_per_1000/user_dic_1.feather')

In [68]:
data = data.sort_values(by=['timestamp'], axis=0)

In [69]:
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,NaN,None
89629,89629,0,1985581,5476,False,0,0,1,NaN,None
276891,276891,0,5340888,7900,False,0,0,1,NaN,None
37401,37401,0,1028074,7900,False,0,0,1,NaN,None
173839,173839,0,3695434,7900,False,0,0,1,NaN,None
...,...,...,...,...,...,...,...,...,...,...
242151,242151,78091996556,4508124,7398,False,725,2,1,28666.0,True
242152,242152,78091996556,4508124,7399,False,725,1,0,28666.0,True
242153,242153,78091996556,4508124,7397,False,725,1,1,28666.0,True
242154,242154,78091996556,4508124,7396,False,725,2,0,28666.0,True
242155,242155,78091996556,4508124,7400,False,725,1,1,28666.0,True

In [16]:
# user id list
uids = list(set(data.user_id))

In [18]:
len(data)

296615

In [65]:
''' 
누적 문제 수, 누적 정답 수
누적 정확도 계산 (with weight) 
df column 추가

# 특정 사용자가 이전 시점에 풀었던 문제들의 정확도
# 사용자별 누적 정확도 계산

# row 별로 계산 진행 --> 시계열 특성 고려
# i-1 까지
## 이전 정확도 * 이전문제 개수 * w + 정답여부 / w + 1
## w<1 w를 사용하여 과거데이터에 대한 가중치 조정

'''
def addAccumulateAcc(df, w):
    # 사용자 누적 정확도를 담을 dict
    userAccDict = {}
    accList = []
    countList = []
    rightNums = []
    
    #시점별 누적 정확도 계산 
    #초기값 0.5 설정
    for i in range(len(df)):
        row = df.iloc[i]
        uid = row.user_id
        correct = row.answered_correctly

        if uid not in userAccDict:
            userAccDict[uid] = [1,0,0.5] #num of quiz, num of correct, Acc
            accList.append(0.5)
            countList.append(0)
            rightNums.append(0)
        else:
            accList.append(userAccDict[uid][2])
            countList.append(userAccDict[uid][0]-1)
            rightNums.append(userAccDict[uid][1])
            
        
        # 누적 정확도 계산 --> 다음 row에 추가
        # lecture 인 경우도 1로 통일
        if correct == 1:
            userAccDict[uid][1] += 1
            userAccDict[uid][2] = (userAccDict[uid][2]*userAccDict[uid][0]*w + 1)/(userAccDict[uid][0]*w+1)
            userAccDict[uid][0] += 1
        else:
            userAccDict[uid][2] = (userAccDict[uid][2]*userAccDict[uid][0]*w + 0)/(userAccDict[uid][0]*w+1)
            userAccDict[uid][0] += 1
            
    df['accumulate_user_acc'] = accList
    df['accumulate_user_count'] = countList
    df['accumulate_user_right'] = rightNums

In [70]:
addAccumulateAcc(data, 0.9)
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,accumulate_user_acc,accumulate_user_count,accumulate_user_right
0,0,0,115,5692,False,1,3,1,NaN,None,0.500000,0,0
89629,89629,0,1985581,5476,False,0,0,1,NaN,None,0.500000,0,0
276891,276891,0,5340888,7900,False,0,0,1,NaN,None,0.500000,0,0
37401,37401,0,1028074,7900,False,0,0,1,NaN,None,0.500000,0,0
173839,173839,0,3695434,7900,False,0,0,1,NaN,None,0.500000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
242151,242151,78091996556,4508124,7398,False,725,2,1,28666.0,True,0.559520,1137,638
242152,242152,78091996556,4508124,7399,False,725,1,0,28666.0,True,0.559950,1138,639
242153,242153,78091996556,4508124,7397,False,725,1,1,28666.0,True,0.559404,1139,639
242154,242154,78091996556,4508124,7396,False,725,2,0,28666.0,True,0.559833,1140,640
242155,242155,78091996556,4508124,7400,False,725,1,1,28666.0,True,0.559289,1141,640

In [58]:
'''
이전 K번 문제풀이 정확도 계산
최초 0.5 --> 이후 1회 이상일때는 평균 적용
'''
def addWindowAcc(df,k):
    # 이전 k번 동안 풀어온 문제 정확도
    # 사용자 단위 횟수 정확도를 담을 dict
    userAccDict = {}
    accList = []
    for i in range(len(df)):
        row = df.iloc[i]
        uid = row.user_id
        correct = row.answered_correctly

        if uid not in userAccDict:
            userAccDict[uid] = [] #num of quiz, num of correct, Acc
            accList.append(0.5)
        else:
            accList.append(sum(userAccDict[uid])/len(userAccDict[uid]))

        userAccDict[uid].append(correct)
        if len(userAccDict[uid]) > k:
            userAccDict[uid].pop(0)
            
    df['k_user_acc']= accList

In [59]:
addWindowAcc(data, 20)
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,accumulate_user_acc,k_user_acc
0,0,0,115,5692,False,1,3,1,NaN,None,0.500000,0.50
89629,89629,0,1985581,5476,False,0,0,1,NaN,None,0.500000,0.50
276891,276891,0,5340888,7900,False,0,0,1,NaN,None,0.500000,0.50
37401,37401,0,1028074,7900,False,0,0,1,NaN,None,0.500000,0.50
173839,173839,0,3695434,7900,False,0,0,1,NaN,None,0.500000,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...
242151,242151,78091996556,4508124,7398,False,725,2,1,28666.0,True,0.559520,0.50
242152,242152,78091996556,4508124,7399,False,725,1,0,28666.0,True,0.559950,0.55
242153,242153,78091996556,4508124,7397,False,725,1,1,28666.0,True,0.559404,0.55
242154,242154,78091996556,4508124,7396,False,725,2,0,28666.0,True,0.559833,0.55
242155,242155,78091996556,4508124,7400,False,725,1,1,28666.0,True,0.559289,0.55

## 문제별 정답률

In [61]:
data = pd.read_feather('content_id_per_50/content_dic_1.feather')
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,NaN,None
1,1,56943,115,5716,False,2,2,1,37000.0,False
2,2,118363,115,128,False,0,0,1,55000.0,False
3,3,131167,115,7860,False,3,0,1,19000.0,False
4,4,137965,115,7922,False,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
3410107,101229283,8933708898,2147470777,25,False,52,1,1,20000.0,True
3410108,101229295,8934037315,2147470777,7863,False,64,0,1,21000.0,True
3410109,101229301,8934192458,2147470777,7897,False,70,0,1,12000.0,True
3410110,101229788,13078960454,2147470777,5692,False,390,3,1,13000.0,True
3410111,101230150,873328861,2147482216,5692,False,125,3,1,19000.0,True

In [63]:
data = data.query('content_type_id==False')

In [64]:
data

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,False,1,3,1,NaN,None
1,1,56943,115,5716,False,2,2,1,37000.0,False
2,2,118363,115,128,False,0,0,1,55000.0,False
3,3,131167,115,7860,False,3,0,1,19000.0,False
4,4,137965,115,7922,False,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
3410107,101229283,8933708898,2147470777,25,False,52,1,1,20000.0,True
3410108,101229295,8934037315,2147470777,7863,False,64,0,1,21000.0,True
3410109,101229301,8934192458,2147470777,7897,False,70,0,1,12000.0,True
3410110,101229788,13078960454,2147470777,5692,False,390,3,1,13000.0,True
3410111,101230150,873328861,2147482216,5692,False,125,3,1,19000.0,True

In [ ]:
## 문제의 정답률을 시점별로 정리
''' 
누적 정답률 계산 (with weight) 
df column 추가

# 특정 문제의 이전 정확도 계산

# row 별로 계산 진행 --> 시계열 특성 고려
# i-1 까지
## 이전 정확도 * 이전문제 개수 * w + 정답여부 / w + 1
## w<1 w를 사용하여 과거데이터에 대한 가중치 조정

'''
def addAccumulateCountDiff(df, w):
    # 문제별 누적 정답률을 담을 dict
    quizDiffDict = {}
    countList = []
    diffList = []
    
    #시점별 누적 정답률 계산 
    #초기값 0.5 설정
    for i in range(len(df)):
        row = df.iloc[i]
        qid = row.content_id
        lecture = row.content_type_id
        correct = row.answered_correctly
        
        #for lecture contents
        if lecture :
            diffList.append(1)
            continue

        if qid not in quizDiffDict:
            quizDiffDict[qid] = [1,0,0.5] #num of user, num of correct, diff
            accList.append(0.5)
        else:
            accList.append(quizDiffDict[qid][2])
        
        # 누적 정확도 계산 --> 다음 row에 추가
        if correct == 1:
            quizDiffDict[qid][1] += 1
            quizDiffDict[qid][2] = (quizDiffDict[qid][2]*quizDiffDict[qid][0]*w + 1)/(quizDiffDict[qid][0]*w+1)
            quizDiffDict[qid][0] += 1
        else:
            quizDiffDict[qid][2] = (quizDiffDict[qid][2]*quizDiffDict[qid][0]*w + 0)/(quizDiffDict[qid][0]*w+1)
            quizDiffDict[qid][0] += 1
            
    df['accumulate_user_acc']= accList

## 태그별 정답률 (복수의 태그의 경우는 평균)